# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*
!.env.example

# Editor/IDE
.vscode/
.idea/

# Node
node_modules/
